.footer {
    grid-area: f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21.5px 40px;
}

@media only screen and (max-width: 570px) {
    .footer {
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
        justify-content: center;
    }
}