.footer__copyright {
    font-size: 18px;
    line-height: 30px;
    width: 230px;
    color: $mainColor;
}

@media only screen and (max-width: 570px) {
    .footer__copyright {
        margin-bottom: 25px;
        line-height: 26px;
    }
}

@media only screen and (max-width: 768px) {
    .footer__copyright {
        font-size: 16px;
    }
}