.form {
    padding: 50px 40px;

    &__title {
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }

    &__span {
        font-size: 20px;
        margin: 30px 0;
        text-align: center;
    }

    &__reset-password {
        color: $redColor;
        margin-top: 30px;
        display: block;
        cursor: pointer;

        &:hover {
            color: #c32e39;
        }
    }
}

@media only screen and (max-width: 500px) {
    .form {
        padding: 50px 30px;

        &__title {
            font-size: 40px;
            margin-bottom: 35px;
        }
    }
}

@media only screen and (max-width: 340px) {
    .form {
        padding: 50px 20px;
    }
}