.form {
    padding: 50px 40px;

    &--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding: 30px 36px 21px 36px;
    }

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__span {
        font-size: 20px;
        margin: 30px 0;
        text-align: center;
    }

    &__reset-password {
        color: $redColor;
        margin-top: 30px;
        display: block;
        cursor: pointer;

        &:hover {
            color: #c32e39;
        }
    }

    &-amount-value {
        position: absolute;
        left: 20px;
        color: $mainColor;
        font-size: 17px;
        height: 21px;
        line-height: 21px;
    }

    &-choose {
        display: flex;
        align-items: center;
        height: 40px;
        width: 136px;
        margin-right: 35px;
        cursor: pointer;

        &:hover &__icon:not(.active) span {
            background-color: $mainColor;
        }

        &-container {
            display: flex;
            margin-bottom: 24px;
        }
        
        &__icon {
            cursor: pointer;
            height: 20px;
            width: 20px;
            border: 2px solid $mainColor;
            border-radius: 50%;
            background-color: transparent;
            display: flex;
            padding: 5px;
            justify-content: center;
            align-items: center;
            margin-right: 19px;

            span {
                background-color: transparent;
                padding: 5px;
                display: block;
                border-radius: 50%;
            }

            &.active {
                border-color: $greenColor;

                span {
                    background-color: $greenColor;
                }
            }
        }

        &__text {
            font-size: 14px;
            color: $mainColor;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 500px) {
    .form {
        padding: 50px 30px;

        &__title {
            font-size: 40px;
            margin-bottom: 35px;
        }
    }
}

@media only screen and (max-width: 340px) {
    .form {
        padding: 50px 20px;
    }
}