.modal {
    background-color: #fff;
    color: $mainColor;
    border-radius: 4px;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    width: 674px;
    min-height: 350px;
    margin-top: 10vh;
    
    &--wide {
        width: 840px;
    }
    
    &-fade-enter {
        opacity: 0;
    }
    &-fade-enter-active {
        opacity: 1;
        transition: opacity 200ms ease-in;
    }
    &-fade-exit {
        opacity: 1;
    }
    &-fade-exit-active {
        opacity: 0;
        transition: opacity 200ms ease-in;
    }

    &-container {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(12,31,35,.42);
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }

    &__header {
        padding: 25px 30px;
        border-bottom: 1px solid #E0E0E0;
        display: flex;
        align-items: center;
    }

    &__close-btn {
        padding-right: 28px;

        i {
            cursor: pointer;
            font-size: 18px;
            color: $textGray;

            &:hover {
                color: $mainColor;
            }
        }
    }

    &__title {
        font-size: 34px;

        &--sm {
            font-size: 30px;
        }
    }

    &__btns {
        display: flex;
        justify-content: flex-end;
        padding: 0 36px 20px 0;

        &--no-padding {
            padding: 0;
        }
        
        .btn:first-of-type {
            margin-right: 16px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .modal {
        width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .modal {
        width: 100%;
        height: 100vh;
        margin: unset;
        overflow: scroll;
        border-radius: unset;
    }
}