.nav-mobile-btn {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .nav-mobile-btn {
        display: flex !important;
    }
    
    .nav-btn {
        display: none !important;
    }
}