.modal-select-category {
    min-height: unset;
    width: 500px;

    .modal__header {
        border: unset;
        padding: 30px 30px 20px;
    }

    .modal__title {
        font-size: 22px;
    }

    .card {
        box-shadow: unset;
    }
}

@media only screen and (max-width: 500px) {
    .modal-select-category {
        .modal__header {
            padding: 18px 20px 0;
            display: block;
        }

        .modal__title {
            font-size: 28px;
            text-align: center;
        }
    }
}