.modal-select-category {
    min-height: unset;
    width: 500px;

    .modal__header {
        border: unset;
        padding: 30px 30px 20px;
    }

    .modal__title {
        font-size: 22px;
    }

    .card {
        box-shadow: unset;
    }
}