/* Transactions Page */
.transactions-page {
    // Transactions Card
    .card {
        // Stats
        &-stats {
            color: #333;
            background-color: #fff;
            transition: all 450ms cubic-bezier(.23,1,.32,1) 0ms;
            padding: 8px 0;
        }
        &-state {
            color: #333;
            display: block;
            font-size: 14px;
            line-height: 16px;
            position: relative;
            transition: all 450ms cubic-bezier(.23,1,.32,1) 0ms;
            padding: 8px 16px;
            &-number {
                position: absolute;
                right: 16px;
            }
            &-total {
                text-align: right;
                font-weight: 400;
            }
            .state-total {
                font-size: 16px;
                position: relative;
                right: 0;
                &::before {
                    content: "";
                    background: rgba(0,0,0,.12);
                    height: 1px;
                    width: 120%;
                    position: absolute;
                    top: -6px;
                    right: 0;
                }
            }
        }
        &-bar {
            background: #f4f4f4;
            width: 100%;
            height: 32px;
        }
        // Transactions List
        .transactions {
            &-header {
                border-bottom: 1px solid rgba(0,0,0,.12);
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: sticky;
                top: 121px;
                background-color: #fff;
            }
            &-full-date {
                display: flex;
                align-items: center;
            }
            &-day {
                font-size: 34px;
                line-height: 40px;
                font-weight: 400;
                width: 48px;
                margin-right: 8px;
            }
            &-date {
                text-transform: capitalize;
                font-size: 12px;
                line-height: 14px;
                color: rgba(0,0,0,.54);
                .days {
                    font-weight: 700;
                }
                .months {
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            &-total {
                font-size: 14px;
                line-height: 20px;
                color: rgba(0,0,0,.87);
                font-weight: 700;
            }
            &-body {
                .transaction {
                    &-data {
                        flex: 1;
                        padding-left: 8px;
                        .primary-text {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                        }
                    }
                    &-note {
                        font-size: 12px!important;
                        line-height: 16px;
                        height: 16px;
                        color: rgba(0,0,0,.54);
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
    .transactions-page .card .transactions-header {
        top: 116px;
    }
}