.sm-show {
    display: none;
}

.not-sm-show {
    display: inherit;
}

@media only screen and (max-width: 500px) {
    .sm-show {
        display: inherit;
    }

    .not-sm-show {
        display: none;
    }
}